/*yellow #F7DC6F, BLUEGRAY #7F8C8D, LIGHT GRAY #D6DBDF, GREENISH #52BE80 */
html {
background-image: url("../img/swoop.jpg");
background-position: center;
background-size: auto;

}

/*navigation buttons*/
li {
  list-style: none;
  display: inline;
}

.scrollpic {
  display: inline-block;
  height: 10em;
  width: 10em;
}
